/* Default styles */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    margin-bottom: 20px;
}
.navbar {
    width: 100%;
    height: 250px;
    background-color: #ccc;
    margin-bottom: 20px;

}

/* Media queries */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 767px) {
    .box {
        height: 100px;
    }
}

@media screen and (max-width: 480px) {
    .box {
        height: 50px;
    }
}
